<label>
  {{{labelOff}}}
  {{input type="checkbox"
    checked=checked
    disabled=disabled
    tabindex=tabindex
    indeterminate=indeterminate
    name=name
    autofocus=autofocus
    form=form
    class=cbClass
  }}
  <span class="lever {{leverTypeClass}}"></span>
  {{{labelOn}}}
</label>
