{{absb-radio-input value=value class=riClass name=groupName  id=(concat elementId '-rb')  groupValue=groupValue changed="rbChanged" disabled=disabled}}
<label for={{concat elementId '-rb'}}>{{{label}}}</label>
