{{input type="checkbox" id=(concat elementId '-cb')
  checked=checked
  disabled=disabled
  tabindex=tabindex
  indeterminate=indeterminate
  name=name
  autofocus=autofocus
  form=form
  class=cbClass
}}
<label for={{concat elementId '-cb'}}>{{{label}}}</label>
