<div class="form-group">
    <div class="form-line">
        {{textarea class="form-control {{unless resize 'no-resize'}}"
        value=value
        class="form-control"
        placeholder=placeholder
        disabled=disabled
        name=name
        rows=rows
        cols=cols
        maxlength=maxlength
        tabindex=tabindex
        selectionEnd=selectionEnd
        selectionStart=selectionStart
        selectionDirection=selectionDirection
        wrap=wrap
        readonly=readonly
        autofocus=autofocus
        form=form
        spellcheck=spellcheck
        required=required

        }}
    </div>
</div>
