@import 'adminbsb-materialdesign/bootstrap';
@import 'adminbsb-materialdesign/waves';
@import 'adminbsb-materialdesign/animate';
@import 'adminbsb-materialdesign/morris';
@import 'adminbsb-materialdesign/waitMe';
@import 'adminbsb-materialdesign/sweetalert';

@import 'adminbsb-materialdesign/_mixins';
@import 'adminbsb-materialdesign/_variables';

/* Navbar ====================================== */
@import 'adminbsb-materialdesign/_navbar';

/* Material Icons ============================== */
@import 'adminbsb-materialdesign/materialicons';

/* Helpers ===================================== */
@import 'adminbsb-materialdesign/_helpers.scss';

/* Custom Animate ============================== */
@import 'adminbsb-materialdesign/_customanimate.scss';

/* Demo ======================================== */
@import 'adminbsb-materialdesign/_demo.scss';

/* Materialize Css | Taken from www.materializecss.com */
@import 'adminbsb-materialdesign/materialize';

/* Media ======================================= */
@import 'adminbsb-materialdesign/_media.scss';

/* General ===================================== */
@import 'adminbsb-materialdesign/_general.scss';

/* Dashboard =================================== */
@import 'adminbsb-materialdesign/_dashboard.scss';

/* Buttons ===================================== */
@import 'adminbsb-materialdesign/_buttons.scss';

/* Bootstrap Tags Input ======================== */
@import 'adminbsb-materialdesign/_tagsinput.scss';

/* noUISlider ================================== */
@import 'adminbsb-materialdesign/_noUISlider.scss';

/* Multi Select ================================ */
@import 'adminbsb-materialdesign/_multiselect.scss';

/* Card ======================================== */
@import 'adminbsb-materialdesign/_card.scss';

/* Infobox ===================================== */
@import 'adminbsb-materialdesign/_infobox.scss';

/* Alerts ====================================== */
@import 'adminbsb-materialdesign/_alerts.scss';

/* Dialogs (SweetAlert) ======================== */
@import 'adminbsb-materialdesign/_dialogs.scss';

/* Checkbox & Radio ============================ */
@import 'adminbsb-materialdesign/_checkboxradio.scss';

/* Switch ====================================== */
@import 'adminbsb-materialdesign/_switch.scss';

/* DateTime Picker ============================= */
@import 'adminbsb-materialdesign/_datetimepicker.scss';

/* Bootstrap Select ============================ */
@import 'adminbsb-materialdesign/_bootstrapselect.scss';

/* Tooltip & Popovers ========================== */
@import 'adminbsb-materialdesign/_tooltippopovers.scss';

/* Nav Tabs ==================================== */
@import 'adminbsb-materialdesign/_navtabs.scss';

/* Thumbnails ================================== */
@import 'adminbsb-materialdesign/_thumbnails.scss';

/* Modals ====================================== */
@import 'adminbsb-materialdesign/_modals.scss';

/* Labels ====================================== */
@import 'adminbsb-materialdesign/_labels.scss';

/* Collapse ==================================== */
@import 'adminbsb-materialdesign/_collapse.scss';

/* Tables ====================================== */
@import 'adminbsb-materialdesign/_tables.scss';

/* Panel ======================================= */
@import 'adminbsb-materialdesign/_panels.scss';

/* Progress Bars =============================== */
@import 'adminbsb-materialdesign/_progressbars.scss';

/* Ion Range Slider ============================ */
@import 'adminbsb-materialdesign/_ionrangeslider.scss';

/* Input Group ================================= */
@import 'adminbsb-materialdesign/_inputformgroup.scss';

/* Color Picker ================================ */
@import 'adminbsb-materialdesign/_colorpicker.scss';

/* Dropzone ==================================== */
@import 'adminbsb-materialdesign/_dropzone.scss';

/* Breadcrumbs ================================= */
@import 'adminbsb-materialdesign/_breadcrumbs.scss';

/* Badge | List Group Item ===================== */
@import 'adminbsb-materialdesign/_badgelistgroupitem.scss';

/* Pagination & Pager ========================== */
@import 'adminbsb-materialdesign/_pagination.scss';

/* Media Object ================================ */
@import 'adminbsb-materialdesign/_mediaobject.scss';

/* Form Wizard ================================= */
@import 'adminbsb-materialdesign/_formwizard.scss';

/* Waves ======================================= */
@import 'adminbsb-materialdesign/_waveseffect.scss';

/* Page Loader ================================= */
@import 'adminbsb-materialdesign/_pageloader.scss';

/* Preloaders ================================== */
@import 'adminbsb-materialdesign/_preloaders.scss';

/* Navbars ===================================== */
@import 'adminbsb-materialdesign/_navbar.scss';

/* Dropdown Menu =============================== */
@import 'adminbsb-materialdesign/_dropdownmenu.scss';

/* Left Sidebar & Overlay ====================== */
@import 'adminbsb-materialdesign/_leftsidebaroverlay.scss';

/* Bootstrap Notify ============================ */
@import 'adminbsb-materialdesign/_bootstrapnotify.scss';

/* Jquery Nestable ============================= */
@import 'adminbsb-materialdesign/_jquerynestable.scss';

/* Login Page ================================== */
@import 'adminbsb-materialdesign/pages/_loginpage.scss';

/* Sign Up Page ================================ */
@import 'adminbsb-materialdesign/pages/_signuppage.scss';

/* Forgot Password Page ======================== */
@import 'adminbsb-materialdesign/pages/_forgotpasswordpage.scss';

/* 404 Not Found Page ========================== */
@import 'adminbsb-materialdesign/pages/_404.scss';

/* 500 Server Error Page ======================= */
@import 'adminbsb-materialdesign/pages/_500.scss';

/* Maps ======================================== */
@import 'adminbsb-materialdesign/_maps.scss';

/* Charts ====================================== */
@import 'adminbsb-materialdesign/_charts.scss';

/* Searchbar =================================== */
@import 'adminbsb-materialdesign/_searchbar.scss';

/* Jquery DataTable ============================ */
@import 'adminbsb-materialdesign/_jquerydatatable.scss';

/* Light Gallery ================================ */
@import 'adminbsb-materialdesign/_lightgallery.scss';

/* For Internet Explorer 10 ===================== */
@import 'adminbsb-materialdesign/browser-support/_ie10.scss';

/* For Internet Explorer 11 ===================== */
@import 'adminbsb-materialdesign/browser-support/_ie11.scss';
@import 'adminbsb-materialdesign/themes/all-themes';


.sidebar .menu{
  overflow-y:visible;
}

ul.navbar-dropdown-menu  li a{
  display: block;
}

.panel-stack{
  margin-bottom: 0;
}

.panel-stack + .panel-stack{
  margin-top: 5px;
}



@each $key, $val in $colors {
    .modal-col-#{$key} {
        background-color: initial;
        .modal-content{
          background-color: $val;
        }
    }
}
